
.user {
  display: flex;
}

.user-name {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Noto Sans TC';
  font-weight: 700;
  color: var(--black);
  text-decoration: none;
}

.user-name:hover {
  color:var(--blue-500);
  text-decoration: underline;
}

.user-photo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border-color: black;
  border-style: solid;
  border-width: 2px;
}

.date-time {
  font-size: 12px;
  line-height: 20px;
  color:var(--grey-400);
}

